[submodule "acados_vendor_ros2"]
	path = acados_vendor_ros2
	url = https://github.com/tpoignonec/acados_vendor_ros2.git
	branch = main

[submodule "acados_controllers_ros2/doxygen/extras/doxygen-awesome-css"]
	path = acados_controllers_ros2/doxygen/extras/doxygen-awesome-css
	url = https://github.com/jothepro/doxygen-awesome-css.git
